* {
    margin: 0;
    padding: 0;
}

.head_wrap {
    width: 100%;
    height: 900px;
    background: #F8F8F8 no-repeat;
    background-image: url('./images//slide1.png');
    opacity: 1;
}

.head_wrap .blur {
    width: 100%;
    height: 900px;
    backdrop-filter: brightness(72%);
}